<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs', {cssSheet: "contactenos"}) %>
    
<body>

    <!-- header -->
    <%- include('./partials/header-navbar.ejs') %>
    <!-- /header -->
    
    <section class="contactenos">
                 <br>
            <h1 class="h1">Como comprar:</h1>
            <br>
            <div class="formContactenos" >
              <p> A través de la página web no se puede comprar.<br>
                Podemos gestionar la compra por whatsapp y una vez que esta lista te avisamos para que lo retires por el local. <br>
            El envío dentro de Pergamino-Bs.As es gratis en compras superiores a $7000.</p>
         </div>
    </section>
    <br>

    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>

</html>