<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs', {cssSheet: "contactenos"}) %>
    
<body>

    <!-- header -->
    <%- include('./partials/header-navbar.ejs') %>
    <!-- /header -->
    
    <section class="contactenos">
                 <br>
            <h1 class="h1">Quienes Somos:</h1>
            <br>
            <div class="formContactenos" >
              <p style="font-style: oblique; color: red;"> Prezzi Pazzi es una fiambrería con venta mayorista y minorista </p><br>
            <p>Tenemos local físico en Pergamino-Bs.As. <br>
            xxxxxxxxxxxxxxxxxxxxxx.</p>
         </div>
    </section>
    <br>

<!-- wsp -->
<%- include('partials/wsp') %>
<!-- /wsp -->


    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>

</html>