<footer>
    <div class="footer">
        <img src = "/img/logo-prezzi-pazzi.png" style="width: 5%;"> 
        <br>
 <!--        <a href="/contacto"><h3 class="texto-final" >¿Como comprar?</h3></a> -->
        <div style="display: flex; align-items: center;">
        <a href="https://www.facebook.com/mayoristaprezzipazzi/"><i class="fa-brands fa-facebook" style="padding: 5px;"></i></a>
        <a href="https://www.instagram.com/fiambreriaprezzipazzi/?hl=es-la"><i class="fa-brands fa-instagram" style="padding: 5px;"></i></a>
        </div>
    </div>

    </footer>
    
    <br>
   
    <div class="contenedor-final">
    <div class="contenedor-final"><i class="fa-solid fa-copyright"></i><h3 class="texto-final">2023 Prezzi Pazzi - Fiambrería mayorista y minorista</h3></div>   
    </div>
      <!--    <br>
    <div class="final">
        <h3 class="texto-final" >¿Como comprar?</h3>
        <p class="texto-final2">Métodos de pago</p>
        <p class="texto-final2">Como crear una cuenta</p>
    </div>
    <br>
    <div class="final">
        <h3 class="texto-final">Preguntas frecuentes</h3>
        <p class="texto-final2">Envíos</p>
    </div>
    </div> -->