<footer>
    <div class="footer">
        <img src = "/img/logo-prezzi-pazzi.png" style="width: 5%;"> 
        <br>
        <a href="/contacto"><h3 class="texto-final" >¿Como comprar?</h3></a>
        <div style="display: flex; align-items: center;">
        <a href="https://www.facebook.com/mayoristaprezzipazzi/"><i class="fa-brands fa-facebook" style="padding: 5px;"></i></a>
        <a href="https://www.instagram.com/fiambreriaprezzipazzi/?hl=es-la"><i class="fa-brands fa-instagram" style="padding: 5px;"></i></a>
        </div>
    </div>

    </footer>
    
    <br>
    <!-- 
    <div class="contenedor-final">
    <div class="final">
        <h3 class="texto-final">Información útil</h3>
        <a href="/contacto"> <p class="texto-final2">Contacto</p> </a>
        <p class="texto-final2">Sobre nosotros</p>
    </div>
        <br>
    <div class="final">
        <h3 class="texto-final" >¿Como comprar?</h3>
        <p class="texto-final2">Métodos de pago</p>
        <p class="texto-final2">Como crear una cuenta</p>
    </div>
    <br>
    <div class="final">
        <h3 class="texto-final">Preguntas frecuentes</h3>
        <p class="texto-final2">Envíos</p>
    </div>
    </div> -->