<header class="header"> 
    <div class="compra">
         <div class="logoIndex">
             <a href="/"><img class ="logo" src = "/img/logoPrezzi.png"> </a>
         </div>
             <br>
            
                 <div class="compra2">
                      <i class="fa-solid fa-magnifying-glass"></i> 
    
                          <a href="/user/login">
                      <i class="fa-solid fa-user"></i>
             </a>
             <!-- <a href="/carrito">
                     <i class="fa-sharp fa-solid fa-cart-shopping"></i>
             </a> -->
             <a href="/productos/creacion_producto"><i class="fa-sharp fa-solid fa-upload"></i></a>
                 </div>
     </div>   
     </header>